@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    background: url('background.png') repeat;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.content {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 10px;
}

.title {
    display: grid;
    place-items: center;
    margin: 50px;
}

.title-animation {
    position: absolute;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F1F1F1;
    -webkit-text-fill-color: transparent;
    animation: morph-effect 10s infinite ease-in-out;
}

.title-animation:nth-child(1) {
    animation-delay: -10s;
}

.title-animation:nth-child(2) {
    animation-delay: -5s;
}

@keyframes morph-effect {

    0%,
    20%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }

    40%,
    80% {
        filter: blur(16px);
        opacity: 0;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.social-icons {
    padding: 0;
    list-style: none;
}

.social-icons li {
    margin: 0 20px;
}

.social-icons li a {
    border: 3px solid deepskyblue;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    border-right: none;
    border-top: none;
    transition: 0.3s ease;
}

.social-icons li a:hover {
    border-top: 3px solid;
    border-right: 3px solid;
    transform: rotate(360deg);
    border-color: white;
    background-color: deepskyblue;
}

.title-results {
    color: #F1F1F1;
}

.input-alex {
    max-width: 100%;
    min-width: 330px;
    width: auto;
    height: 15px;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    text-align: left;
    border: 2px solid deepskyblue;
}

.input-alex span {
    color: #F1F1F1;
}

.input-alex i {
    color: #F1F1F1;
}

.input-user {
    max-width: 100%;
    min-width: 330px;
    width: auto;
    height: 15px;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    text-align: right;
    border: 2px solid deepskyblue;
}

.input-user span {
    color: #F1F1F1;
}

.input-user i {
    color: #F1F1F1;
}