<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex | Assistente Virtual</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class='container'>
        <div class='content'>
            <div class='title'>
                <h1 class='title-animation'>Fatec</h1>
                <h1 class='title-animation'>Projeto Integrador</h1>
            </div>
            <button id="start">
                <ul class="social-icons">
                    <li>
                        <a href="#"><i class="fa-solid fa-code"></i></a>

                    </li>
                </ul>
            </button>
            <div class="search">
                <div class="input-alex">
                    <i class="fa-solid fa-code"></i>
                    <span id="assistent">Hello World!</span>
                </div>
                <div class="input-user">
                    <span id="output">Hello World!</span>
                    <i class="fa-solid fa-code"></i>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/e489fc5bcf.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="/static/index.js"></script>

</html>
